<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Creando web components con template de HTML5">
    <meta name="robots" content="index,follow">
    <title>Document</title>
</head>
<body>
    <!-- Se  mostrará en rojo porque en mi componente así lo hicé-->
    <h2>Welcome</h2>
    <!-- Me retorna un document fragment y no se renderiza el contenido, eso es porque debemos usar JavaScript -->
    <!-- <template>
        <h1>Hola</h1>
    </template> -->
    <my-template></my-template>
    <script type="module" src="./my-template.js"></script>
</body>
</html>