*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
body{
    background-color: #2d333b;
}
card-product {
    --primary-color: #5a6cb2;
    --secondary-color: #46538a;
}
card-product.orange {
    --primary-color: #b4b98a;
    --secondary-color: #dde3a3;
}